html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;

  position: relative;
}

.center {
  width: 28px;
  position: absolute;
  right: 45%;
  bottom: 45%;

}

.hand {
  width: 14px;
  position: absolute;
}

.hand-hour {
  left: 48%;
  top: 87px;


}

.hand-minute {
  left: 48%;
  top: 77px;
}
